.app-container {
  min-height: calc(var(--vh, 1vh) * 100);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 20px;
  position: relative;
}

.app-title {
  color: #fff;
  text-align: center;
}
